<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
	  <bindings>
		  <wsHttpBinding>
			  <binding name="secureBinding">
				  <security mode="Message">
					  <message clientCredentialType="UserName" />
				  </security>
			  </binding>
		  </wsHttpBinding>
	  </bindings>

	  <services>
		  <service name="OrderService">
			  <endpoint address="" binding="wsHttpBinding" bindingConfiguration="secureBinding" contract="IOrderService" />
			  <host>
				  <baseAddresses>
					  <add baseAddress="http://localhost:8000/OrderService" />
				  </baseAddresses>
			  </host>
		  </service>
	  </services>

	  <bindings>
      <wsHttpBinding>
        <binding name="usernameBinding">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="MyNamespace.MyService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="usernameBinding" contract="MyNamespace.IMyService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/MyService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="certificateBinding">
          <security mode="Message">
            <message clientCredentialType="Certificate"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="MyNamespace.MyService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="certificateBinding" contract="MyNamespace.IMyService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/MyService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="secureHybridBinding">
          <security mode="TransportWithMessageCredential">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="MyNamespace.MyService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="secureHybridBinding" contract="MyNamespace.IMyService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/MyService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>